.footer {
  background: #333333;
  color: #CCCCCC;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center

  ul {
    margin-top: 10px;
  }

  a {
    color: #CCCCCC;
    font-size: 30px;
    margin-right: 20px;
  }

  a:hover{
    color: $yellow;
  }

  p {
    margin-top: 17px;
  }
}
